<app-nav-bar></app-nav-bar>
<div class="container" *ngIf="!this.showGrid">
    <div id="left"></div>
    <div id="center">
        <span class="monthText"> Select the month.</span>
        <select #month>
            <option class="monthList" *ngFor="let m of months">{{ m }}</option>
        </select>
        <span class="dayText"> What is the first day of that month?</span>
        <select #day>
            <option class="dayList" *ngFor="let d of days">{{ d }}</option>
        </select>
        <button class="nextButton" (click)="nextClicked(day.value,
            month.value)">Next</button>
    </div>
    <div id="right"></div>
</div>

<app-home *ngIf="this.showGrid" [month]="this.month" [day]="this.day"></app-home>