.container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1.1fr;
    grid-template-rows: 97vh;
    width: 100%;
}

.translate {
    position: absolute;
    top:35%;
  }

  .flag-icon-gb {
    left: 1520%;
  }

  .flag-icon-gr {
    left: 1523%;
  }

  .flag-icon-gb:hover {
    opacity: 0.6;
  }

  .flag-icon-gr:hover {
    opacity: 0.6;
  }

.monthText {
    padding: 60px 0px 2px 0px;
    display: block;
    font-size: 22px;
}

.dayText {
    padding: 30px 0px 2px 0px;
    display: block;
    font-size: 22px;
}

.employeeText {
    padding: 30px 0px 2px 0px;
    display: block;
    font-size: 22px;
}
.employeeBox1 {
    display: block;
    padding: 30px 0px 2px 0px;
}
.employeeBox2 {
    display: block;
    padding: 0px 0px 2px 0px;
}
.employeeBox3 {
    display: block;
    padding: 0px 0px 2px 0px;
}
.nextButton {
    display: block;
}

#left {
    grid-row: 1/1;
    grid-column: 1/1;
}

#center {
    grid-row: 1/1;
    grid-column: 2/2;
    overflow: hidden;
    padding: 0px 35px;
}

#right {
    grid-row: 1/1;
    grid-column: 3/3;
}