body {
    background-color:  rgba(243, 243, 231, 0.973);
  }

.container {
    display: flex;
    width: 100%;
}

.left {
    flex: auto;
}

.center {
    flex: auto;
}

.right {
    flex:auto;
}

.flag-icon {
    position: relative;
    margin-top: 5vh;
    padding: 0px 0px 0px 0px;
  }

  .flag-icon-gb {
    margin-left: 7%;
  }

  .flag-icon-gr {
    margin-left: 0.2%;
  }

.flag-icon-gb:hover {
    opacity: 0.6;
}

.flag-icon-gr:hover {
    opacity: 0.6;
}

.month-text {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 2vh;
}

.month-list {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 0.5vh;
}

.day-text {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 2vh;
}

.day-list {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 0.5vh;
}

.employee-text {
    display: block;
    margin-left: 7%;
    margin-top: 2vh;
}
.employee-box {
    display: block;
    margin-left: 7%;
    margin-top: 0.5vh;
}
.employee-box2 {
    display: block;
    margin-left: 7%;
    margin-top: 0.3vh;
}
.employee-box3 {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 0.3vh;
}
.next-button {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 1vh;
}

@media screen and (min-width: 451px) {
    .month-text {
        font-size: 23px;
    }
    
    .day-text {
        font-size: 23px;
    }

    .employee-text {
        font-size: 23px;
    }
}

@media screen and (max-width: 450px) {
    .month-text {
        font-size: 19px;
    }

    .day-text {
        font-size: 19px;
    }
    .employee-text {
        font-size: 19px;
    }
}