<app-nav-bar></app-nav-bar>
<div class="container" *ngIf="!this.showGrid">
    <div class="left"></div>
    <div class="center">
        <button (click)="switchLanguage('en')" class="flag-icon
            flag-icon-gb"></button>
        <button (click)="switchLanguage('gr')" class="flag-icon
            flag-icon-gr"></button>
        <span class="month-text" [translate]="'MonthText'"></span>
        <select #month class="month-list">
            <option *ngFor="let m of months"
                [translate]='m'></option>
        </select>
        <span class="day-text" [translate]="'FirstDayText'"></span>
        <select #day class="day-list">
            <option *ngFor="let d of days" [translate]='d'></option>
        </select>
        <span class="employee-text" [translate]="'EmployeNamesText'"></span>
        <input class="employee-box" type="text" #first_employee>
        <input class="employee-box2" type="text" #secod_employee>
        <input class="employee-box3" type="text" #third_employee>
        <span class="mandatory-text" [translate]="'MandatoryText'"></span>
        <button class="next-button" (click)="nextClicked(day.value,
            month.value, first_employee.value, secod_employee.value,
            third_employee.value)" [translate]="'NextButton'"></button>
    </div>
    <div class="right"></div>
</div>

<app-home *ngIf="this.showGrid"
    [language]="this.language"
    [month]="this.month"
    [day]="this.day"
    [first_employee]="this.firstEmployee"
    [second_employee]="this.secondEmployee"
    [third_employee]="this.thirdEmployee">
</app-home>
