.toolbar {
  background-color: rgb(255, 0, 21);
  width: 100%;
  margin-top: 1.5vh;
}
  
.toolbar-brand {
  flex: auto;
  width: 420px;
  background-color: rgb(255, 0, 21);
  border: none;
  color: white;
  text-align: left;
  font-weight: bold;
  opacity: 0.85;
  transition: 0.3s;
  cursor: pointer;
  outline: 0;
}

.toolbar-space {
  flex: auto;
  width: 100%;
}

.toolbar-img {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 1231px) {
  @media screen and (min-height: 451px) {
    .toolbar {
      height: 11vh;
    }

    .toolbar-brand {
      font-size: 33px;
    }
  }
  @media screen and (max-height: 450px) {
    .toolbar {
      height: 50px;
    }

    .toolbar-brand {
      font-size: 18px;
    }
  }
}
  
  @media screen and (max-width: 1230px) {
    .toolbar-brand {
      font-size: 18px;
    }
    @media screen and (min-height: 451px) {
      .toolbar {
        height: 11vh;
      }
    }
    @media screen and (max-height: 450px) {
        .toolbar {
          height: 50px;
        }
    }
  }
/*
  @media screen and (max-height: 500px) {
    .toolbar {
      background-color: rgb(255, 0, 21);
      width: 100%;
      margin-top: 1.5vh;
      height: 80px;
  }

    .toolbar-brand {
      font-size: 1.7vw;
    }
  }
  */
  .toolbar-brand:hover {
    opacity: 1;
  }